<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>To Do App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <h1><%= today %></h1>

    <ul>
       <% for(var i =0; i<newItems.length; i++){ %>
            <li><%=  newItems[i]  %></li> 
      <%  }  %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit">Add</button>
    </form>
    
</body>
</html>